*.class
*.tmp
*.bak
*.swp
*.ogg
.classpath
.project
*.eml
*.iml
*.ipr
*.iws

source/Controller Block/cb_common/eclipse/
source/Controller Block/cb_common/.gradle/
source/Controller Block/cb_common/build/
source/Controller Block/cb_common/ControllerBlock/